.title {
    color:white;
    margin-bottom: 0px;
    margin-top:15px;
}

body {
    margin: 0px;
}

.main {
  margin: 15px 30px;
}

label.line {
  display:block;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    margin-top:15px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #758918;
    color: white;
  }

  .clearfix {
    overflow: auto;
  }

  ul {
    padding-left:0px;
    margin-top:5px;
  }

  li {
    list-style-type: none;
  }

  /* li:hover {
    background-color: aquamarine;
  } */

  button.back {
    background-color:#758918;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
  }

  button.back:hover {
    background-color:#5b6b12;
  }

   /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}